.comment{
    display: flex;
    background-color: bisque;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    margin-bottom: 20px;
}

.comment-rating-overall-header{
    font-weight: bold;
    flex: 1;
}



.comment-date{
    font-weight: bold;
    margin-bottom: 20px;
}


@media screen and (max-width:768px) {
    .comment{
        width: 100%;
    }
}