.password-reg{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    padding: 30px;
    margin-top: 30px;
}

.password-reg-header{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.password-reg-button{
    padding: 20px 15px;
    border-radius: 30px;
    border: 1px solid black;
    width: 100%;
    background-color: black;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    color: white;
 }

 .password-reg-form-control{
    width: 100%;
    padding: 15px;
    border: 1px solid gainsboro;
    outline: none;
 }