.features{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    
}

.feature-text{
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}

.feature-img{
    width: 280px;
    margin-bottom: 20px;
}

.feature-img-three{
    width: 300px;
    margin-bottom: 72px;
}

.features-header h2{
   text-align: center;
   font-size: 34px;
   font-weight: bolder;
   margin-top: 60px;
}

.features-button{
    text-align: center;
    margin-bottom: 40px;
}

.features-button button{
    outline: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 1px solid black;
    padding: 20px 35px;
    cursor: pointer;
    font-weight: bolder;
}



@media screen and (max-width:768px) {
    .features{
        display: block;
    }
    .feature-image{
        display: flex;
        justify-content: center;
    }

    .feature-img{
        width: 50%;
        
    }
    .feature-img-three{
        width: 50%;
    }
    .feature{
        margin-bottom: 50px;
    }
    .feature-text{
        font-size: 20px;
    }
    .features-header h2{
        margin-bottom: 30px;
    }
}