.account-nav-menu{
    display: flex;
    list-style: none;
    border: 1px solid black;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.account-nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.account-nav-item{
    border-right: 1px solid black;
    flex: 1;
    text-align: center;
}

.account-nav-item:last-child{
    border-right: 0px;
}

.active{
    color: red;
}

.account{
    padding-left: 250px;
    padding-right: 250px;
}

.account-nav-header h2{
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .account-nav-menu{
        gap: 10px;
    }
    .account{
        padding-left: 18px;
        padding-right: 18px;
    }
}