nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-social{
    display: flex;
    gap: 10px;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-button{
    display: none;
}

.nav-item-button{
    padding: 10px 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-top: -14px;

}

.nav-item-button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.nav-log-in{
   
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-log-in:hover{
    border-bottom: 2px solid black;
}


@media screen and (max-width:768px) {
    .nav-button{
        display: inline;
    }

    .nav-menu{
        display: block;
        left: -100%;
        position: fixed;
    }
}