nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 999;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-social {
  display: flex;
  gap: 10px;
}

.nav-menu {
  display: block;
  left: 0;
  position: absolute;
  background-color: white;
  top: 65px;
  height: 50vh;
  z-index: 999;
  width: 100%;
  padding-top: 20px;
  transition: 5ms ease-out;
  list-style: none;
}

.nav-item {
    margin-bottom: 25px;
  }

.nav-item-button {
  padding: 10px 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin-top: -14px;
  text-decoration: none;
  cursor: pointer;
}

.nav-item-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.nav-log-in {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-log-in:hover {
  border-bottom: 2px solid black;
}

.nav-hide {
  top: -100%;
}

.nav-user div{
  margin-top: 2px;
  font-weight: bold;
  font-size: 20px;
}

.nav-button{
    cursor: pointer;
  
}

@media screen and (max-width: 768px) {

}
